In [13]:
import numpy as np
Day_number=np.arange(1,11)
steps_walked=[4335,9552,7332,4504,5332,7552,8332,8504,8965,7689]
arr=np.array([Day_number,steps_walked])
arr=arr.T
arr

array([[   1, 4335],
       [   2, 9552],
       [   3, 7332],
       [   4, 4504],
       [   5, 5332],
       [   6, 7552],
       [   7, 8332],
       [   8, 8504],
       [   9, 8965],
       [  10, 7689]])

In [2]:
import pandas as pd
arr={'Day_number':[1,2,3,4,5,6,7,8,9,10],'steps_walked':[4335,9552,7332,4504,5332,7552,8332,8504,8965,7689]}

In [3]:
df=pd.DataFrame(arr)
df

   Day_number  steps_walked
0           1          4335
1           2          9552
2           3          7332
3           4          4504
4           5          5332
5           6          7552
6           7          8332
7           8          8504
8           9          8965
9          10          7689

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 1 dimensions. The detected shape was (2,) + inhomogeneous part.

In [5]:
arr['step_walked']=df['step_walked']+2000
print(arr['step_walked'])

KeyError: 'step_walked'

In [7]:
arr['steps_walked']=df['steps_walked']+2000

In [8]:
print(arr['steps_walked'])

0     6335
1    11552
2     9332
3     6504
4     7332
5     9552
6    10332
7    10504
8    10965
9     9689
Name: steps_walked, dtype: int64

In [9]:
matched=df.loc[df['steps_walked']>9000]

In [10]:
print(matched)

   Day_number  steps_walked
1           2          9552